/**
 * @name Dark Matter Bumble
 * @author Tropical#8908, Hammock#3110, BumbleBeever
 * @version 3.0.2
 * @description A cold, dark & frosty theme. Edited by BumbleBeever
 * @source https://github.com/BumbleBeever/DarkMatterBumble
*/

/* Temporary change base css (might have to update mine) -- class names changed!

@import url('https://DiscordStyles.github.io/DarkMatter/src/base.css');

@import url('https://raw.githubusercontent.com/DiscordStyles/DarkMatter/e3cfceeb62f6b1964d0d960111003fc496bb0d83/src/base.css'); */

@import url('https://bumblebeever.github.io/DarkMatterBumble/src/base.css');

/* Variables */
:root {
    --avatar-size: 32px;
    --background-image: url('https://i.imgur.com/7SbtKvw.png');
    --home-image: url('https://i.imgur.com/233d55Y.gif');
    --background-solid: #161921;
    --background-solid-dark: #101218;
    --background-solid-darker: #0c0e12;
    --accent: 37, 172, 232;
    --accent-alt: 29, 101, 134;
    --custom-channel-members-bg: rgba(0, 0, 0, 0.7) !important;
}


/* Titlebar */

div[class*="typeWindows_"]::after {
	content: 'BumbleCord';
}