/**
 * @name Dark Matter Bumble
 * @author Tropical#8908, Hammock#3110, BumbleBeever
 * @version 3.0.2
 * @description A cold, dark & frosty theme. Edited by BumbleBeever
 * @source https://github.com/BumbleBeever/DarkMatterBumble
*/

/* Temporary change base css (might have to update mine) -- class names changed!

@import url('https://DiscordStyles.github.io/DarkMatter/src/base.css');

@import url('https://raw.githubusercontent.com/DiscordStyles/DarkMatter/e3cfceeb62f6b1964d0d960111003fc496bb0d83/src/base.css'); */

@import url('https://raw.githubusercontent.com/BumbleBeever/DarkMatterBumble/main/src/base.css');

/* Variables */
:root {
    --avatar-size: 32px;
    --background-image: url('https://i.imgur.com/7SbtKvw.png');
    --home-image: url('https://i.imgur.com/233d55Y.gif');
    --background-solid: #161921;
    --background-solid-dark: #101218;
    --background-solid-darker: #0c0e12;
    --accent: 37, 172, 232;
    --accent-alt: 29, 101, 134;
}

/* Titlebar */

div[class*="typeWindows_"]::after {
	content: 'BumbleCord';
}

/* User Panel fix */

div[class^='sidebar_']>section>div:last-child {
	bottom: -1px;
}


/*
:not(div[class*="userProfile"][class*="unThemed"]).theme-dark,
:not(div[class*="userProfile"]).theme-light,
div[class*="userProfile"][class*="unThemed"].theme-light {
	/* Discord vars 
	--background-modifier-hover: rgba(var(--accent), 0.3);
	--background-modifier-active: rgba(var(--accent-alt), 0.3);
	--background-modifier-selected: rgba(var(--accent), 0.6);
	--channels-default: rgba(var(--dm-white), 0.4);
	--text-normal: rgba(var(--dm-white), 0.9);
	--interactive-muted: rgba(var(--dm-white), 0.17);
	--interactive-hover: rgba(var(--dm-white), 1);
	--interactive-active: rgba(var(--dm-white), 0.9);
}


/* Direct Messages fix 

.wrapper__3af0b {
    width: 40px;
    height: 40px;
}


/* Unread Direct Message fix 

div[class*="lowerBadge_"] { 
    bottom: -2px;
    right: -2px;
}


/* discord broken dirty fixes (needs work): 

#bd-pub-li{
    display: none;
}

.app_de4237, 
.bg__12180,
.wrapper_a7e7a8.guilds__2b93a,
.animatorTop__609e7.translate_c2f6c4.didRender_f1da13,
.wrapper_cd625e.categoryList__173de,
.member_b44d5d,
.sidebar_ded4b5,
/* .container__590e2, 
.base__3e6af,
.contentRegion__0bec1,
.contentRegionScroller__86c79,
.childWrapper__01b9c:hover,
.wrapper_d281dd.selected_f5ec8e .childWrapper__01b9c {
    background-color: transparent !important;
}

/* .container__590e2, 
.container__5c7e7,
.container_b2ce9c,
.contentTransitionWrap_c5bc61,
.chatContent__5dca8,
.sidebarRegionScroller__1fa7e,
.privateChannels__93473,
.picker__6dca7 {
   background: rgba(0, 0, 0, 0.7) !important;
}

/* .item__183e8.labelContainer_bc2861.colorDefault__0b482:not(.colorBrand__471df) > .label__73cb9 
.text-xs-medium__220aa.soundName__35f8b,
.eyebrow_e5a66c.defaultColor__87d87.sectionTitle__8df35.app_de4237
.item__183e8.labelContainer_bc2861.colorDefault__0b482:not(.colorBrand__471df) {
    color: grey !important;
}

/* Fix background channels 
#app-mount>div:not([class^="appDevToolsWrapper_"]),
.autocomplete-1vrmpx {
    --background-secondary: rgba(0, 0, 0, 0.7);
}
*/